body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leftMenu{
  color: white;
  background-color: black;
  font-size: large;
  
}
.loginButton{
  color: white;
  background-color: teal;
}
label{
  font-family: Arial, Helvetica, sans-serif;
}